#style-switcher h2 a { background: #15191C none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
.topcontrol {background: #fb6107 none repeat scroll 0 0;}
/*END SCROLL TO TOP*/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fb6107 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fb6107 !important;
    background-color: transparent;
}

.menu-top li a:hover { color: #fb6107!important }

.navbar-default.menu-shrink li a:hover { color: #fb6107 !important }
.navbar-default .navbar-toggle .icon-bar { background-color: #fb6107 }


.section-title span {background: #fb6107 none repeat scroll 0 0;}

.btn-home-bg {background: #fb6107 none repeat scroll 0 0;border: 2px solid #fb6107; font-weight: bold; }

.about_single i {background: #fb6107;border: 2px solid #fb6107;}

.about_single:hover i {color: #fb6107;border: 2px solid #fb6107;}

.about_single span {background: #fb6107 none repeat scroll 0 0;}

.about_single:hover h4 { color: #fb6107 }


.single_feature i {background: #fb6107 none repeat scroll 0 0;}

.single_feature_bg:hover {background: #fb6107 none repeat scroll 0 0}

.single_feature:hover i {color: #fb6107;}

.service:hover {background:#fb6107;border: 2px solid #fb6107;}

.service:hover .icon {color: #fb6107;}

.our_work_menu ul li:hover,
.our_work_menu ul li.active {background: #fb6107 none repeat scroll 0 0;border-color: #fb6107;}

.sing_link_img a:hover {background: #fb6107;}

.single_our_work:hover {background: #fb6107;}

.btn-portfolio-bg {background: #fb6107 none repeat scroll 0 0;}

.carousel-indicators li {border: 1px solid #ffffff;background: #ffffff;}

.counter i {background: #fb6107 none repeat scroll 0 0;border: 2px solid #fb6107;}

.counter:hover i{background:none;color:#fb6107;border:2px solid #fb6107}

.social > li:after {background: #fb6107 none repeat scroll 0 0;}

.team_text ul.social li a i:hover {border-color: #e8e8e9;background: #fb6107;}

.social > li:hover:after { background: #fb6107 }

.progress-bar > span {background: #fb6107 none repeat scroll 0 0;}

.pricing-table-default:hover{ background: #fb6107;}

.pricing-head .price {background-color: #fb6107;}

.pricing-table-default:hover .price{color: #fb6107;}

.pricing-table-default:hover .btn{color: #fb6107;}

.blog-text i { color: #fb6107 }

.blog-text span {color: #fb6107;}

.btn-blog-bg:hover{border: 1px solid #fb6107;color:#fb6107;}

.form-control:focus {border: 1px solid #fb6107;}

.btn-contact-bg {background: #fb6107 none repeat scroll 0 0;}

.contact-address {background: #fb6107 none repeat scroll 0 0;}

.copyright a {color: #fb6107;}

.terezin-btn {
    background-color:#fc9611;
    border: 2px solid #fc9611;
}
